---
import RootLayout from "../layouts/RootLayout.astro";

const sections = [
  { name: "Why?", id: "why" },
  { name: "Goals", id: "goals" },
  { name: "Learn", id: "learn" },
];
---

<RootLayout title="Philosophy" sections={sections}>
  <main>
    <div class="prose pt-24">
      <h1>Philosophy</h1>
      <p>Our philosophy is simple: "power level" should mean something.</p>
      <ul>
        Talking Points<li>10 is too many</li><li>
          Quantitative vs Qualitative
        </li>
      </ul>
      <h2>Our Power Levels</h2>
      <p></p>
      <ul>
        <li>Low</li>
        <li>Low-Mid</li>
        <li>Mid</li>
        <li>High-Mid</li>
        <li>High</li>
      </ul>
    </div>
    <!-- <div class="prose"> -->
    <!-- </div> -->
  </main>
</RootLayout>
