---
import RootLayout from "../layouts/RootLayout.astro";
// import ArticleLink from "../components/ArticleLink.astro";

const sections = [{ name: "Non Power Level", id: "non-power-level" }];
---

<RootLayout title="Rule 0 Conversations" sections={sections}>
  <article class="prose pb-60">
    <h1 id="page-header">Rule 0 Conversations</h1>
    <section id="non-power-level">
      <h2>Non Power Level</h2>
      <p>test</p>
    </section>
  </article>
</RootLayout>
