---
import ArrowRight from "astro-heroicons/solid/ArrowRight.astro";

const { href, text } = Astro.props;
---

<a
	href={href}
	class="relative p-6 rounded-xl bg-gray-200 hover:bg-gray-300 transition-colors duration-100 cursor-pointer flex flex-row items-center justify-between no-underline group"
>
	{text}
	<ArrowRight
		class="relative size-6 stroke-2 group-hover:translate-x-2 transition-transform duration-100"
	/>
</a>
